html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}


.App {
  flex:1;
  text-align: center;
  overflow:auto;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ccb9c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ccb9c7;
}

.App-link {
  color: #61dafb;
}

.image-container {
  display: flex;
  justify-content: center;
}

.centered-image {
  width: 100%;
  height: 35rem;
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
